/*TODO: Rounded corners for every container*/
* {
    font-family: Verdana, sans-serif;
}

div {
    border: 1px solid red;
}

.main{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 8px;
    height:10vh;
}


.sidebar {
    /*background-image: linear-gradient(to right, mediumaquamarine , cornflowerblue);*/
    background-color: cornflowerblue;
}

.sidebar > div {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 15px;
    overflow: auto;
}

.sidebar > div > p {
    color: azure;
    margin: 15px;
}

.dashboard {
    /*background-image: linear-gradient(to right, cornflowerblue, mediumaquamarine);*/
    background-color: mediumaquamarine;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

/* CSS to apply to 1st-lvl child of dashboard*/
.dashboard > div {
    margin-bottom: 5px;
    height: auto;
    width: auto;
}

/* CSS to apply to 2nd-lvl child of dashboard*/
.dashboard > div > div {
    /*margin-bottom: 5px;*/
    /*margin-top: 5px;*/
    /*padding: 15px;*/
    overflow: auto;
}

/*TODO: Fix the grid to be more dynamic and not create unneccessary empty space*/
.dashboard-body {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 1fr;
}

h3 {
    text-align: center;
    padding: 5px;
    margin: 5px;
}
.dashboard-projects-cards-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* CARD STYLING*/
.card {
    box-shadow: 0 4px 8px 0 rgba(45, 234, 0, 0.2);
    max-width: 225px;
    margin: 15px;
    text-align: center;
    font-family: arial, sans-serif;
}

.price {
    color: crimson;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: cyan;
    background-color: darkturquoise;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card-buttons {
    display: flex;
}

.card button:hover {
    opacity: 0.7;
}

/* Card `Trending` section Styling */
.profile-photo-small {
    width: 90px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /*align-items: end;*/
}

.dashboard-trending-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.trending-card-profile-photo {
    padding: 5px;
    margin-left: auto;
}

.trending-card-text {
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;

}

.trending-card-text > p {
    margin: 0 auto;
    padding: 3px;
    align-content: flex-start;
}

.trending-card-username {
    font-size: x-large;
}

/* Header Styling */
.profile-photo-large {
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.profile-photo-normal {
    width: 110px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /*align-items: end;*/
}

.dashboard-header {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}